# Demonstration Thanzi La Onse notebook

This outlines ways to use the modelling framework interactively.

In [1]:
# Import general Python modules
import numpy as np
import pandas as pd

# Import the classes we need from the tlo framework
from tlo import Date, DateOffset, Person, Simulation
from tlo.test import random_birth, random_death

In [2]:
# Create a simulation with desired modules
sim = Simulation(start_date=Date(1950, 1, 1))

rb = random_birth.RandomBirth(name='rb')
rb.pregnancy_probability = 0.1
rd = random_death.RandomDeath(name='rd')
rd.death_probability = 0.01
sim.register(rb, rd)

In [3]:
# Repeatability
sim.seed_rngs(4)

In [4]:
# Set up initial population
sim.make_initial_population(n=5)

In [5]:
# Store initial population state for comparison
initial_state = sim.population.props.copy()

In [6]:
# Run simulation
sim.simulate(end_date=Date(1951, 1, 1))

In [7]:
# Compare final & initial states
final_state = sim.population.props
initial_state = initial_state.append(
    sim.population._create_props(len(final_state) - len(initial_state)),
    ignore_index=True, sort=False)
changed = ~(initial_state == final_state)
changed[pd.isnull(initial_state) & pd.isnull(final_state)] = False
style = changed.applymap(lambda v: 'color: red' if v else 'color: black')
final_state.style.apply(lambda df: style, axis=None)

In [8]:
# The simple display above doesn't handle 'object' type data well, e.g. the children list
for l in sim.population.children:
    print(l)

[]
[]
[]
[]
[<Person 5>]
[]